In [1]:
import pandas as pd
import sqlite3

In [2]:
name = pd.read_csv("data/name.csv")
name.head()

   Unnamed: 0     nconst          primaryName
0          46  nm0000047         Sophia Loren
1          79  nm0000080         Orson Welles
2          83  nm0000084              Gong Li
3          86  nm0000087       Elena Koreneva
4          89  nm0000090  Armin Mueller-Stahl

In [3]:
basics = pd.read_csv("data/basics.csv")
basics.head()

,Unnamed: 0,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,genres
0,11636,tt0011801,Tötet nicht mehr,0,2019,\N,"Action,Crime"
1,13082,tt0013274,Istoriya grazhdanskoy voyny,0,2021,133,Documentary
2,61116,tt0062336,The Tango of the Widower and Its Distorting Mi...,0,2020,70,Drama
3,67669,tt0069049,The Other Side of the Wind,0,2018,122,Drama
4,76059,tt0077684,Histórias de Combóios em Portugal,0,2022,46,Documentary

In [4]:
ratings = pd.read_csv("data/rating.csv")
ratings.head()

   Unnamed: 0     tconst  averageRating  numVotes
0        3469  tt0013274            6.7        48
1       40472  tt0062336            6.4       164
2       46340  tt0069049            6.7      7560
3       71098  tt0097767            7.0         6
4       73245  tt0100275            6.5       339

In [5]:
principals = pd.read_csv("data/principals.csv")
principals.head()

   Unnamed: 0     tconst     nconst category
0       80701  tt0011801  nm0459029    actor
1       80702  tt0011801  nm0681726    actor
2       80703  tt0011801  nm0692612  actress
3       80704  tt0011801  nm0726256    actor
4       80705  tt0011801  nm0776458    actor

In [6]:
# Create the database
con = sqlite3.connect("imdb.db")

In [7]:
name.to_sql("name", con, index = False, if_exists = 'replace')

416018

In [8]:
basics.to_sql("basics", con, index=False,if_exists = 'replace')

179674

In [9]:
ratings.to_sql("ratings", con, index = False,if_exists = 'replace')

91963

In [10]:
principals.to_sql("principals", con, index = False,if_exists = 'replace')

696935

In [11]:
cursor = con.cursor()

In [12]:
# Define the name of the table to delete
table_name = ['countries','stations']

# Execute the DROP TABLE statement
cursor.execute("DROP TABLE IF EXISTS {}".format(table_name))

In [13]:
con.commit()

In [14]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('imdb.db')

# Create a cursor object
cursor = conn.cursor()

# Define the SQL query to join the tables
query = """
    SELECT *
    FROM principals
    JOIN ratings ON principals.tconst = ratings.tconst
    JOIN basics ON principals.tconst = basics.tconst
    JOIN name ON principals.nconst = name.nconst;
"""

# Execute the query and fetch the results
cursor.execute(query)

imdb = pd.read_sql_query(query,conn)
imdb.head()

,Unnamed: 0,tconst,nconst,category,Unnamed: 0,tconst,averageRating,numVotes,Unnamed: 0,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,genres,Unnamed: 0,nconst,primaryName
0,92759,tt0013274,nm0412842,director,3469,tt0013274,6.7,48,13082,tt0013274,Istoriya grazhdanskoy voyny,0,2021,133,Documentary,390598,nm0412842,Nikolai Izvolov
1,92760,tt0013274,nm0895048,director,3469,tt0013274,6.7,48,13082,tt0013274,Istoriya grazhdanskoy voyny,0,2021,133,Documentary,842504,nm0895048,Dziga Vertov
2,522892,tt0062336,nm0815612,actor,40472,tt0062336,6.4,164,61116,tt0062336,The Tango of the Widower and Its Distorting Mi...,0,2020,70,Drama,768336,nm0815612,Rubén Sotoconil
3,522893,tt0062336,nm1860495,actress,40472,tt0062336,6.4,164,61116,tt0062336,The Tango of the Widower and Its Distorting Mi...,0,2020,70,Drama,5548814,nm1860495,Claudia Paz
4,522894,tt0062336,nm0016013,actor,40472,tt0062336,6.4,164,61116,tt0062336,The Tango of the Widower and Its Distorting Mi...,0,2020,70,Drama,15516,nm0016013,Luis Alarcón

In [15]:
imdb = imdb.loc[:, ~imdb.columns.duplicated()]
imdb.head()

,Unnamed: 0,tconst,nconst,category,averageRating,numVotes,primaryTitle,isAdult,startYear,runtimeMinutes,genres,primaryName
0,92759,tt0013274,nm0412842,director,6.7,48,Istoriya grazhdanskoy voyny,0,2021,133,Documentary,Nikolai Izvolov
1,92760,tt0013274,nm0895048,director,6.7,48,Istoriya grazhdanskoy voyny,0,2021,133,Documentary,Dziga Vertov
2,522892,tt0062336,nm0815612,actor,6.4,164,The Tango of the Widower and Its Distorting Mi...,0,2020,70,Drama,Rubén Sotoconil
3,522893,tt0062336,nm1860495,actress,6.4,164,The Tango of the Widower and Its Distorting Mi...,0,2020,70,Drama,Claudia Paz
4,522894,tt0062336,nm0016013,actor,6.4,164,The Tango of the Widower and Its Distorting Mi...,0,2020,70,Drama,Luis Alarcón

In [16]:
imdb1=imdb.copy()

In [17]:
imdb.to_csv('imdb.csv', index=False)

In [18]:
imdb.shape

(404315, 12)

In [19]:
imdb.to_sql("imdb", conn, index = False,if_exists = 'replace')

404315

In [20]:
conn.close()